//- extend ../layout/common.pug
//- block content

//-     h1 Create users: 
//-     form(action="/users/create",method="POST")
//-         label Name
//-         input(name='name', type="text", class="form-control")
//-         label Sex
//-         input(name='sex', type="text", class="form-control")
//-         button(class="btn btn-primary") Create
extend ../layout/common.pug
block content
        h1 Create users: 
        form(action="/users/create",method="POST")
            label Name
            input(name='name', type="text", class="form-control")
            label Sex
            input(name='sex', type="text", class="form-control")
            button(class="btn btn-primary") Create